@import url("https://fonts.googleapis.com/css?family=PT Sans Narrow");
@font-face {
  font-family: 'PTSansNarrowBold';
  src: url(../fonts/PTSansNarrowBold.woff); }

@font-face {
  font-family: 'PTSansNarrow';
  src: url(../fonts/PTSansNarrow.woff); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #282828; }

.container {
  width: 320px;
  margin: 0 auto; }

.header__logo {
  padding: 30px 0px 25px 50px; }
  .header__logo .logo {
    width: 226px;
    height: 30px;
    background-image: url("../img/logo-mobile.png"); }

.header__nav .nav {
  position: relative; }
  .header__nav .nav__icon {
    width: 70px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/nav__icon-mobile.png) no-repeat 35px 20px #6a4d38;
    background-position: center; }
  .header__nav .nav__list {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none; }
  .header__nav .nav__item {
    padding: 13px 0 13px;
    font: 18px/24px 'PTSansNarrowBold';
    background-color: #826550;
    color: #fff;
    text-transform: uppercase; }
    .header__nav .nav__item:nth-child(n+2) {
      display: none; }

.header__statistics {
  background-color: #fff; }
  .header__statistics .statistics {
    padding: 27px 0 0; }
    .header__statistics .statistics__title {
      margin: 0 0 15px 0;
      padding: 0 50px 0 48px;
      font: 900 30px/30px 'PTSansNarrowBold';
      text-transform: uppercase;
      text-align: center; }
    .header__statistics .statistics__text {
      margin: 0 20px;
      padding: 0 0 27px;
      font: 20px/27px 'PTSansNarrow';
      text-align: center; }
    .header__statistics .statistics__information .information {
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      background-color: #404040; }
      .header__statistics .statistics__information .information_mod {
        padding-top: 1px;
        padding-bottom: 2px; }
      .header__statistics .statistics__information .information__span {
        padding-right: 3px;
        display: block; }
      .header__statistics .statistics__information .information:nth-child(even) {
        background-color: #4e4e4e; }
      .header__statistics .statistics__information .information__number {
        position: relative;
        padding: 13px 0px 13px 1px;
        font: 40px 'PTSansNarrow';
        color: #fff; }
        .header__statistics .statistics__information .information__number_iconed:after {
          content: url(../img/number_star.png);
          position: absolute;
          width: 7px;
          height: 7px;
          top: -10px;
          right: -18px; }
      .header__statistics .statistics__information .information__text {
        margin-top: 20px;
        width: 115px;
        color: #f7f4f1;
        font: 18px/18px 'PT Sans Narrow';
        text-align: end; }

.slaider {
  position: relative;
  background-color: #242424; }
  .slaider:after {
    content: '';
    position: absolute;
    bottom: -35px;
    left: 0;
    display: block;
    border-top: 35px solid #242424;
    border-right: 160px solid transparent;
    border-left: 160px solid transparent; }
  .slaider__list {
    margin: 0;
    padding: 82px 0 0 0; }
  .slaider__item {
    list-style-type: none; }
    .slaider__item:nth-child(n + 2) {
      display: none; }
    .slaider__item .item__image {
      width: 95px;
      height: 95px;
      margin: 0 auto; }
    .slaider__item .item__pic {
      width: 100%;
      height: 100%;
      display: block; }
    .slaider__item .item__title {
      padding-top: 25px;
      padding-bottom: 10px;
      font: bold 30px 'PT Sans Narrow';
      text-transform: uppercase;
      text-align: center;
      color: #fff; }
    .slaider__item .item__text {
      color: #bfbdba;
      font: 20px/27px 'PT Sans Narrow';
      width: 90%;
      text-align: center;
      padding-left: 37px; }
  .slaider__control {
    margin-top: 23px;
    padding-bottom: 8px; }
    .slaider__control .control__list {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center; }
    .slaider__control .control__item {
      list-style-type: none;
      position: relative; }
      .slaider__control .control__item:nth-child(n + 2) {
        padding-left: 20px; }
      .slaider__control .control__item:before {
        content: url(../img/control_transparentW.png); }
      .slaider__control .control__item:first-child:after {
        content: url(../img/control_white.png);
        position: absolute;
        left: 0px; }

.section-info__news {
  background-color: #fff;
  border-bottom: 1px solid #e5ddd5; }
  .section-info__news .news {
    margin: 0 20px;
    padding: 63px 0 27px 0;
    display: flex;
    flex-flow: column;
    background-color: #fff; }
    .section-info__news .news__title {
      margin: 0;
      padding: 0 0 9px 29px;
      font: 30px 'PTSansNarrowBold';
      text-transform: uppercase; }
    .section-info__news .news__button {
      order: 10; }
      .section-info__news .news__button .button {
        margin: 3px auto 0;
        padding: 13px 0 13px;
        max-width: 280px;
        text-align: center;
        border: 1px solid #e5ddd5; }
        .section-info__news .news__button .button__link {
          display: block;
          font: 18px/24px 'PTSansNarrowBold';
          text-transform: uppercase;
          text-decoration: none;
          color: black; }
    .section-info__news .news__list {
      padding: 0;
      margin: 0; }
    .section-info__news .news__element {
      padding-top: 15px;
      list-style-type: none; }
      .section-info__news .news__element:first-child {
        border-bottom: 1px solid #e5ddd5; }
      .section-info__news .news__element:last-child {
        display: none; }
      .section-info__news .news__element .element {
        display: flex; }
        .section-info__news .news__element .element:first-child {
          padding-bottom: 19px; }
        .section-info__news .news__element .element__date {
          color: #fff; }
          .section-info__news .news__element .element__date .date {
            margin-top: 10px;
            width: 50px;
            height: 50px;
            text-align: center; }
            .section-info__news .news__element .element__date .date:after {
              content: '';
              display: block;
              border: 25px solid transparent;
              border-top: 10px solid black; }
            .section-info__news .news__element .element__date .date__day {
              font: bold 30px "PT Sans Narrow";
              background-color: black; }
            .section-info__news .news__element .element__date .date__month {
              margin-top: -12px;
              padding-top: 3px;
              font: 16px "PT Sans Narrow";
              background-color: black; }
        .section-info__news .news__element .element__text {
          font: 18px/27px 'PTSansNarrow';
          padding-left: 19px; }
        .section-info__news .news__element .element__span {
          position: relative; }
        .section-info__news .news__element .element__span:before {
          content: url(../img/span_quoteL.png); }
        .section-info__news .news__element .element__span:after {
          content: url(../img/span_quote.png); }

.feedback {
  position: relative;
  background-color: #fff; }
  .feedback:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -35px;
    left: 0;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-top: 35px solid #fff; }
  .feedback__title {
    margin: 0;
    padding: 25px 0 0;
    font: 30px/30px 'PTSansNarrowBold';
    text-transform: uppercase;
    text-align: center; }
  .feedback__person {
    padding-top: 30px; }
    .feedback__person .person {
      display: flex; }
      .feedback__person .person__ava {
        margin-left: 20px;
        padding: 10px 0 50px; }
      .feedback__person .person__description {
        margin-left: 20px; }
      .feedback__person .person__name {
        margin: 0;
        padding: 0;
        font: 24px/27px 'PTSansNarrowBold'; }
      .feedback__person .person__comment {
        margin: 0;
        padding: 10px 35px 0 0;
        font: 18px/27px 'PTSansNarrow'; }
  .feedback__control {
    margin-top: 23px;
    padding-bottom: 13px; }
    .feedback__control .control__list {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center; }
    .feedback__control .control__item {
      list-style-type: none;
      position: relative; }
      .feedback__control .control__item:nth-child(n + 2) {
        padding-left: 20px; }
      .feedback__control .control__item:before {
        content: url(../img/control_transparentB.png); }
      .feedback__control .control__item:first-child:after {
        content: url(../img/control_black.png);
        position: absolute;
        left: 0px; }

.footer__contact {
  padding: 35px 0 25px 0;
  background-color: #292929; }
  .footer__contact .contact {
    color: #fff; }
    .footer__contact .contact__info .info__title {
      margin: 0;
      padding: 33px 0 0 0;
      font: 18px 'PTSansNarrowBold';
      text-align: center; }
    .footer__contact .contact__info .info__address {
      margin: 0;
      padding: 12px 30px 0;
      font: 18px/27px 'PTSansNarrow';
      text-align: center; }
    .footer__contact .contact__info .info__tel {
      margin: 18px auto 0;
      padding: 12px 0 12px;
      max-width: 280px;
      font: 18px/24px 'PTSansNarrowBold';
      text-align: center;
      border: 1px solid #3e3e3e; }
    .footer__contact .contact__social .social__title {
      margin: 0;
      padding: 0; }
    .footer__contact .contact__social .social__icon .icon {
      margin-top: 26px; }
      .footer__contact .contact__social .social__icon .icon__list {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #3e3e3e; }
      .footer__contact .contact__social .social__icon .icon__item {
        height: 99px;
        position: relative;
        flex: 1 1 auto;
        text-align: center;
        list-style-type: none;
        border-right: 1px solid #3e3e3e; }
      .footer__contact .contact__social .social__icon .icon__pic {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto; }
    .footer__contact .contact__author {
      margin-top: 28px; }
      .footer__contact .contact__author .author__text {
        margin: 0;
        padding: 0;
        font: 18px/27px 'PTSansNarrow';
        text-align: center;
        padding-bottom: 12px; }
      .footer__contact .contact__author .author__name {
        margin: 0 auto;
        padding: 12px 0 12px;
        max-width: 280px;
        font: 18px/24px 'PTSansNarrowBold';
        text-align: center;
        text-transform: uppercase;
        border: 1px solid #3e3e3e; }
