@import url("https://fonts.googleapis.com/css?family=PT Sans Narrow");
@font-face {
  font-family: 'PTSansNarrowBold';
  src: url(../fonts/PTSansNarrowBold.woff); }

@font-face {
  font-family: 'PTSansNarrow';
  src: url(../fonts/PTSansNarrow.woff); }

.margin {
  font-size: 30px;
  font-family: 'PTSansNarrowBold';
  line-height: auto; }
  .margin span {
    font-size: 30px;
    color: #fff;
    font-family: 'PTSansNarrowBold';
    display: inline-block; }
  .margin span:nth-child(2n+1) {
    background-color: green; }
  .margin span:nth-child(2n+2) {
    background-color: orange; }

body {
  margin: 0;
  padding: 0;
  background-color: #282828; }

/* 
* {
	box-sizing: border-box;
}
 */
.container {
  width: 320px;
  margin: 0 auto; }

.header__logo {
  padding: 30px 0px 25px 50px; }
  .header__logo .logo {
    background-image: url("../img/logo-mobile.png");
    width: 226px;
    height: 30px; }

.header__nav .nav {
  position: relative; }
  .header__nav .nav__icon {
    width: 70px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/nav__icon-mobile.png) no-repeat 35px 20px #6a4d38;
    background-position: center; }
  .header__nav .nav__list {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none; }
  .header__nav .nav__item {
    padding: 13px 0 13px;
    font: 18px/24px 'PTSansNarrowBold';
    background-color: #826550;
    color: #fff;
    text-transform: uppercase; }
    .header__nav .nav__item:nth-child(n+2) {
      display: none; }

.header__statistics {
  background-color: #fff; }
  .header__statistics .statistics {
    padding: 28px 20px 26px; }
    .header__statistics .statistics__title {
      margin: 0 0 15px 0;
      font: 900 30px/30px 'PTSansNarrowBold';
      text-transform: uppercase;
      padding-left: 48px;
      text-align: center;
      padding-right: 50px; }
    .header__statistics .statistics__text {
      font: 20px/27px 'PTSansNarrow';
      margin: 0;
      padding: 0;
      text-align: center; }
    .header__statistics .statistics__information .information {
      display: flex;
      justify-content: space-between;
      background-color: #404040;
      padding: 0 20px; }
      .header__statistics .statistics__information .information:nth-child(2n + 2) {
        background-color: #4e4e4e; }
      .header__statistics .statistics__information .information__number {
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 3px;
        font: 40px 'PTSansNarrow';
        color: #fff;
        position: relative; }
        .header__statistics .statistics__information .information__number_iconed:after {
          content: url(../img/number_star.png);
          position: absolute;
          width: 7px;
          height: 7px;
          top: -10px;
          right: -18px; }
      .header__statistics .statistics__information .information__text {
        margin-top: 20px;
        color: #f7f4f1;
        font: 18px/18px 'PT Sans Narrow';
        text-align: end; }

.slaider {
  background-color: #242424;
  position: relative; }
  .slaider:after {
    content: '';
    position: absolute;
    bottom: -35px;
    left: 0;
    display: block;
    border-top: 35px solid #242424;
    border-right: 160px solid transparent;
    border-left: 160px solid transparent; }
  .slaider__list {
    margin: 0;
    padding: 0;
    padding-top: 82px; }
  .slaider__item {
    list-style-type: none; }
    .slaider__item:nth-child(n + 2) {
      display: none; }
    .slaider__item .item__image {
      width: 95px;
      height: 95px;
      margin: 0 auto; }
    .slaider__item .item__pic {
      width: 100%;
      height: 100%;
      display: block; }
    .slaider__item .item__title {
      padding-top: 25px;
      padding-bottom: 10px;
      font: bold 30px 'PT Sans Narrow';
      text-transform: uppercase;
      text-align: center;
      color: #fff; }
    .slaider__item .item__text {
      color: #bfbdba;
      font: 20px/27px 'PT Sans Narrow';
      width: 90%;
      text-align: center;
      padding-left: 37px; }
  .slaider__control {
    margin-top: 23px;
    padding-bottom: 10px; }
    .slaider__control .control__list {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center; }
    .slaider__control .control__item {
      list-style-type: none;
      position: relative; }
      .slaider__control .control__item:nth-child(n + 2) {
        padding-left: 20px; }
      .slaider__control .control__item:before {
        content: url(../img/control_transparentW.png); }
      .slaider__control .control__item:first-child:after {
        content: url(../img/control_white.png);
        position: absolute;
        left: 0px; }

.section-info__news .news {
  padding-top: 63px;
  display: flex;
  flex-flow: column;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5ddd5;
  background-color: #fff; }
  .section-info__news .news__title {
    margin: 0;
    padding: 0 0 2px 49px;
    font: bold 30px "PT Sans Narrow";
    text-transform: uppercase; }
  .section-info__news .news__button {
    order: 10; }
    .section-info__news .news__button .button {
      border: 1px solid #e5ddd5;
      max-width: 280px;
      text-align: center;
      margin: 0 auto;
      padding: 12px 0 12px; }
      .section-info__news .news__button .button__link {
        text-decoration: none;
        font: bold 18px/24px "PT Sans Narrow";
        text-transform: uppercase;
        color: black;
        display: block; }
  .section-info__news .news__list {
    padding: 0;
    margin: 0; }
  .section-info__news .news__element {
    list-style-type: none;
    padding-top: 24px; }
    .section-info__news .news__element:first-child {
      border-bottom: 1px solid #e5ddd5; }
    .section-info__news .news__element:last-child {
      display: none; }
    .section-info__news .news__element .element {
      padding-left: 20px;
      padding-right: 20px;
      display: flex; }
      .section-info__news .news__element .element:first-child {
        padding-bottom: 15px; }
      .section-info__news .news__element .element__date {
        color: #fff; }
        .section-info__news .news__element .element__date .date {
          min-width: 50px;
          min-height: 50px;
          text-align: center;
          margin-top: 10px; }
          .section-info__news .news__element .element__date .date:after {
            content: '';
            display: block;
            border: 25px solid transparent;
            border-top: 10px solid black; }
          .section-info__news .news__element .element__date .date__day {
            font: bold 30px "PT Sans Narrow";
            background-color: black; }
          .section-info__news .news__element .element__date .date__month {
            font: 16px "PT Sans Narrow";
            background-color: black;
            margin-top: -12px; }
      .section-info__news .news__element .element__text {
        font: bold 18px/27px "PT Sans Narrow";
        padding-left: 20px; }
      .section-info__news .news__element .element__span {
        position: relative; }
      .section-info__news .news__element .element__span:before {
        content: url(../img/span_quoteL.png); }
      .section-info__news .news__element .element__span:after {
        content: url(../img/span_quote.png); }

.margin {
  margin-bottom: 500px; }

.feedback {
  background-color: #fff;
  position: relative; }
  .feedback:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -35px;
    left: 0;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-top: 35px solid #fff; }
  .feedback__title {
    margin: 0;
    padding: 0;
    text-align: center;
    font: bold 30px/30px "PT Sans Narrow";
    padding-top: 26px;
    text-transform: uppercase; }
  .feedback__person {
    padding-top: 30px; }
    .feedback__person .person {
      display: flex; }
      .feedback__person .person__ava {
        padding-top: 10px;
        padding-bottom: 50px;
        margin-left: 20px; }
      .feedback__person .person__description {
        margin-left: 20px; }
      .feedback__person .person__name {
        font: bold 24px/27px "PT Sans Narrow";
        margin: 0;
        padding: 0; }
      .feedback__person .person__comment {
        margin: 0;
        padding: 0;
        font: bold 18px/27px "PT Sans Narrow";
        padding-top: 10px;
        padding-right: 35px; }
  .feedback__control {
    margin-top: 23px;
    padding-bottom: 13px; }
    .feedback__control .control__list {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center; }
    .feedback__control .control__item {
      list-style-type: none;
      position: relative; }
      .feedback__control .control__item:nth-child(n + 2) {
        padding-left: 20px; }
      .feedback__control .control__item:before {
        content: url(../img/control_transparentB.png); }
      .feedback__control .control__item:first-child:after {
        content: url(../img/control_black.png);
        position: absolute;
        left: 0px; }

.footer__contact {
  background-color: #292929;
  padding-top: 35px;
  padding-bottom: 25px; }
  .footer__contact .contact {
    color: #fff; }
    .footer__contact .contact__info .info__title {
      margin: 0;
      padding: 0;
      font: bold 18px "PT Sans Narrow";
      text-align: center;
      padding-top: 35px; }
    .footer__contact .contact__info .info__address {
      font: 18px "PT Sans Narrow";
      text-align: center;
      padding: 0;
      margin: 0;
      padding-top: 11px;
      padding-left: 30px;
      padding-right: 30px; }
    .footer__contact .contact__info .info__tel {
      border: 1px solid #3e3e3e;
      max-width: 280px;
      text-align: center;
      margin: 0 auto;
      padding: 12px 0 12px;
      font: bold 18px/24px "PT Sans Narrow";
      margin-top: 25px; }
    .footer__contact .contact__social .social__title {
      margin: 0;
      padding: 0; }
    .footer__contact .contact__social .social__icon .icon {
      margin-top: 25px; }
      .footer__contact .contact__social .social__icon .icon__list {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #3e3e3e; }
      .footer__contact .contact__social .social__icon .icon__item {
        list-style-type: none;
        text-align: center;
        flex: 1 1 auto;
        height: 100px;
        position: relative;
        border-right: 1px solid #3e3e3e; }
      .footer__contact .contact__social .social__icon .icon__pic {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto; }
    .footer__contact .contact__author {
      margin-top: 28px; }
      .footer__contact .contact__author .author__text {
        margin: 0;
        padding: 0;
        font: 18px/27px "PT Sans Narrow";
        text-align: center;
        padding-bottom: 13px; }
      .footer__contact .contact__author .author__name {
        border: 1px solid #3e3e3e;
        max-width: 280px;
        text-align: center;
        margin: 0 auto;
        padding: 12px 0 12px;
        font: bold 18px/24px "PT Sans Narrow";
        text-transform: uppercase; }

.test {
  color: #fff;
  border: medium solid white; }
  .test__img {
    padding: 10px; }

.testiruem {
  height: 400px;
  background: #345;
  position: relative; }
  .testiruem__item {
    background: rgba(255, 255, 255, 0.3);
    height: 200px;
    width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: thick dashed black;
    background-clip: padding-box; }
