@import 'partials/mixins';

@include google-font-load('PT Sans Narrow');


@font-face {
	font-family: 'PTSansNarrowBold';
	src: url(../fonts/PTSansNarrowBold.woff);
}

@font-face {
	font-family: 'PTSansNarrow';
	src: url(../fonts/PTSansNarrow.woff);
}

$white: #fff;
$font: 'PTSansNarrow';
$fontBold: 'PTSansNarrowBold';


* {
	box-sizing: border-box;
}

%reset {     
	margin: 0;
	padding: 0;
}

body {
	@extend %reset;
	background-color: #282828;
}


 
.container {
	width: 320px;
	margin: 0 auto;
}

.header {

	&__logo {
		padding: 30px 0px 25px 50px;

		.logo {
			width: 226px;
			height: 30px;
			background-image: url('../img/logo-mobile.png');
		}
	}

	&__nav {

		.nav {
			position: relative;
			padding-top: 50px;

			.nav__toggle {
				display: none;

				&:checked ~ .nav__item {
					margin-left: 70px;
					padding-left: 20px;
					display: block;	
					width: 250px;
					text-align: start;
					box-shadow: inset 14px 0px  10px -9px  #543d2d;
				}

				&:checked + .nav__label {
					top: 0;
					left: 0;
				}

				&:checked ~ .nav__item_iconed {
				
					padding-left: 50px;
				}
			}

			.nav__label {
				color: $white;
				width: 70px;
				height: 50px;
				position: absolute;
				top: 0;
				left: 250px;
				line-height: 50px;
				background-color: #6a4d38;


				.label {
					width: 100%;
					height: 100%;

					&__span {
						width: 36px;
						height: 2px;
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						margin: auto;
						opacity: 1;
						background-color: $white;
						transition: .25s ease-in-out;

						&:nth-child(1) {
							background-color: $white;
							top: -16px;
							border-radius: 5px;
						}

						&:nth-child(3) {
							background-color: $white;
							top: 15px;
							border-radius: 5px;
						}
					}

					&.open .label__span:nth-child(1) {
						top: 0;
						transform: rotate(-135deg);
					}

					&.open .label__span:nth-child(2) {
						opacity: 0;
					}

					&.open .label__span:nth-child(3) {
						top: 0;
						transform: rotate(135deg);
					}
				}
			} 
	
			&__list {	
				@extend %reset;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
				list-style-type: none;	

			}	
	
			&__item {
				width: 320px;
				height: 50px;
				padding: 13px 0 13px;
				font:  18px/24px $fontBold;
				background-color: #826550;
				color: #fff;
				text-transform: uppercase;
				border-bottom: 1px solid #71543f;
				text-align: center;		
				
				&_iconed {
					height: 313px;
					font-family: $font;
					text-transform: none;
					background-color: #6a4d38;
					text-align: center;
					position: relative;
					
					
					&:before {
						content: url(../img/login__icon.png);
						width: 20px;
						height: 20px;
						position: absolute;
						top: 15px;
						left: 21px;
					}	
				}

				
				
				&:nth-child(n+4) {
					display: none;
				}
			}

			&__link {
				text-decoration: none;
				color: $white;
			}	

			.control {
				display: none;
				
				&:checked ~ .nav__profile {
					display: block;
					
				}

			}

			&__profile {
				display: none;
				

				.profile {
					position: absolute;
					width: 320px;
					background: #f8f5f2;
					color: black;
					top: -200px;
					left: -70px;
					padding-bottom: 37px;

					&__title {
						font: 30px/30px $fontBold;
						text-transform: uppercase;
						margin-top: 32px;
						text-align: center;	
					}

					&__txt {
						padding-top: 15px;
						padding-bottom: 23px;
						font: 18px/27px $font;
						text-align: center;
					}
						
					&__form {

						.form {
							margin: 0 auto;
							width: 280px;
							
							
							&__login {
								position: relative;

								.login {
									
									&__input {
										width: 100%;
										padding: 9px 0 11px 20px;
										border: 1px solid #e5ddd5;
										outline: none;
										font: 18px/30px $font;
										margin-bottom: 7px;
									}

									&__submit {
										width: 30px;
										height: 30px;
										display: block;
										border: none; 
										background-color: $white;
										color: transparent;
										position: absolute;
										top: 10px;
										right: 13px;
										background-image: url(../img/form__ava.png);
										background-position: center;
										background-repeat: no-repeat;
										outline: none;
									}
								}
							}	

							&__pass {
								position: relative;

								.pass {
										
									&__input {
										width: 100%;
										padding: 9px 0 11px 20px;
										border: 1px solid #e5ddd5;
										outline: none;
										font: 18px/30px $font;
										margin-bottom: 20px;
									}

									&__submit {
										width: 30px;
										height: 30px;
										display: block;
										border: none; 
										background-color: $white;
										color: transparent;
										position: absolute;
										top: 10px;
										right: 13px;
										background-image: url(../img/form__locked.png);
										background-position: center;
										background-repeat: no-repeat;
										outline: none;
									}
								}
							}

							&__checkbox {
								display: none;

								&:checked + .form__box {
									background-image: url(../img/checkbox-tick.png);
									background-repeat: no-repeat;
									background-position: center;
								}

							}

							&__box {
								display: inline-block;
								width: 33px;
								height: 33px;
								background-color: $white;
								vertical-align: middle;
								border: 1px solid #e5ddd5;
							}

							&__label {
					
								display: inline-block;
								padding-left: 10px;
								vertical-align: middle;
							}



							&__text {
								display: inline-block;
								margin-left: 20px;
								vertical-align: middle;
							}

							&__link {
								text-decoration: none;
								color: black;
							}
							
							&__btn {
								margin-top: 34px;
								padding: 10px 0;
								display: inline-block;
								width: 130px;
								font: 18px/24px $fontBold;
								text-align: center;
								border: 1px solid #e5ddd5;
								

								&_enter {
									background-color: #826550;
									color: $white;
									border: none;
									margin-right: 16px;
								}
							}

						}
					}
				}
			}
		}
	}

	&__statistics {
		background-color: $white;
		position: relative;
		z-index: 1;
		
	
		.statistics {
			padding: 27px 0 0;
		
			&__title {
				margin: 0 0 15px 0;
				padding: 0 50px 0 48px;
				font: 900 30px/30px $fontBold;	
				text-transform: uppercase;
				text-align: center;
			}
	
			&__text {
				margin: 0 20px;
				padding: 0 0 27px;
				font: 20px/27px 'PTSansNarrow';
				text-align: center;
			}
	
			&__information {
				
				.information {
					padding: 0 20px;
					display: flex;
					justify-content: space-between;
					background-color: #404040;
	
					&_mod {
						padding-top: 1px;
						padding-bottom: 2px;
					}
					
					&__span {
						padding-right: 3px;
						display: block;
					}
						
					&:nth-child(even) {
						background-color: #4e4e4e;
					}
	
					&__number {
						position: relative;
						padding: 13px 0px 13px 1px;
						font:  40px 'PTSansNarrow';
						color: #fff;
	
						&_iconed:after {
							content: url(../img/number_star.png);
							position: absolute;
							width: 7px;
							height: 7px;	
							top: -10px;
    						right: -18px;	
						}
					}
	
					&__text {
						margin-top: 20px;
						width: 115px;
						color: #f7f4f1;
						font: 18px/18px $font;
						text-align: end;
					}
				}
			}
		}
	}
}

.section-slaider {

}

.slaider {
	position: relative;
	background-color: #242424;

	&:after {
		content: '';
		position: absolute;
		bottom: -35px;
		left: 0;
		display: block;
		border-top: 35px solid #242424;
		border-right: 160px solid transparent;
		border-left: 160px solid transparent;
	}	

	&__list {
		margin: 0;
		padding: 82px 0 0 0;
	}

	&__item {
		list-style-type: none;
		
		&:nth-child(n + 2) {
			display: none;			
		}

		.item {
			&__image {
				width: 95px;
				height: 95px;
				margin: 0 auto;
			}

			&__pic {
				width: 100%;
				height: 100%;
				display: block;	
			}

			&__title {
				padding: 25px 0 10px 0;
				font: bold 30px $font;
				text-transform: uppercase;
				text-align: center;
				color: #fff;
			}

			&__text {
				color: #bfbdba;
				font: 20px/27px $font;
				width: 90%;
				text-align: center;
				padding-left: 37px;			
			}
		}
	}

	&__control {
		margin-top: 23px;
		padding-bottom: 8px;
		
		.control {
			&__list {
				@extend %reset;
				display: flex;	
				justify-content: center;
			}

			&__item {
				list-style-type: none;
				position: relative;
				
				&:nth-child(n + 2) {
					padding-left: 20px;
				}
										
				&:before {
					content: url(../img/control_transparentW.png);
				}

				&:first-child:after {
					content: url(../img/control_white.png);
					position: absolute;
					left: 0px;
				}
			}
		}
	}
}

.section-info__news {
		background-color: $white;
		border-bottom: 1px solid #e5ddd5;

	.news {
		margin: 0 20px;
		padding: 63px 0 27px 0;
		display: flex;
		flex-flow: column;	
		background-color: $white;
		

		&__title {
			margin: 0;
			padding: 0 0 9px 29px;
			font: 30px $fontBold;
			text-transform: uppercase;
		}

		&__button {
			order: 10;

			.button {	
				margin: 3px auto 0;
				padding: 13px 0 13px;
				max-width: 280px;
				text-align: center;
				border: 1px solid #e5ddd5;
				
				&__link {
					display: block;
					font: 18px/24px $fontBold;
					text-transform: uppercase;
					text-decoration: none;
					color: black;					
				}
			}
		}

		&__list {
			@extend %reset;
		}

		&__element {
			padding-top: 15px;
			list-style-type: none;
			
			&:first-child {
				border-bottom: 1px solid #e5ddd5;
			}

			&:last-child {
				display: none;
			}

			.element {
				display: flex;

				&:first-child {
					padding-bottom: 19px;
				}
					
				&__date {
					color: #fff;
					
					.date {	
						margin-top: 10px;
						width: 50px;
						height: 50px;
						text-align: center;					
							
						&:after {
							content: '';
							display: block;
							border: 25px solid transparent;
							border-top: 10px solid black;
						}

						&__day {
							font: 30px $fontBold;
							background-color: black;
						}
						
						&__month {
							margin-top: -12px;
							padding-top: 3px;
							font: 16px $font;
							background-color: black;							
						}
					}
				}

				&__text {
					font: 18px/27px $font;
					padding-left: 19px;
					}

				&__span {
					position: relative;	
				}

				&__span:before {
					content: url(../img/span_quoteL.png);	
				}

				&__span:after {
					content: url(../img/span_quote.png);	
				}
			}
		}
	}
}

.feedback {
	position: relative;
	background-color: $white;

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -35px;
		left: 0;
		border-left: 160px solid transparent;
		border-right: 160px solid transparent;
		border-top: 35px solid $white;
	}

	&__title {
		margin: 0;
		padding: 25px 0 0;
		font: 30px/30px $fontBold; 
		text-transform: uppercase;
		text-align: center;	
	}

	&__person {
		padding-top: 30px;

		.person {
			display: flex;

			&__ava {
				margin-left: 20px;
				padding: 10px 0 50px;		
			}

			&__description {
				margin-left: 20px;
			}

			&__name {
				@extend %reset;
				font: 24px/27px $fontBold;				
			}

			&__comment {
				margin: 0;
				padding: 10px 35px 0 0;
				font: 18px/27px $font;
			}
		}
	}

	&__control {
		margin-top: 23px;
		padding-bottom: 13px;

		.control {
			&__list {
				@extend %reset;
				display: flex;	
				justify-content: center;
			}

			&__item {
				list-style-type: none;
				position: relative;
				
				&:nth-child(n + 2) {
					padding-left: 20px;
				}

										
				&:before {
					content: url(../img/control_transparentB.png);
				}

				&:first-child:after {
					content: url(../img/control_black.png);
					position: absolute;
					left: 0px;
				}
			}
		}
	}
}

.footer__contact {
	padding: 35px 0 25px 0;
	background-color: #292929;

	.contact {
		color: $white;
		&__info {

			.info {

				&__title {
					margin: 0;
					padding: 33px 0 0 0;
					font: 18px $fontBold;
					text-align: center;
				}

				&__address {
					margin: 0;
					padding: 12px 30px 0;
					font: 18px/27px $font;
					text-align: center;		
				}

				&__tel {
					margin: 18px auto 0;
					padding: 12px 0 12px;
					max-width: 280px;
					font: 18px/24px $fontBold;
					text-align: center;		
					border: 1px solid #3e3e3e;
				}
			}	
		}

		&__social {

			.social {

				&__title {
					@extend %reset;
				}

				&__icon {

					.icon {
						margin-top: 26px;

						&__list {
							@extend %reset;
							display: flex;
							justify-content: space-around;
							align-items: center;
							border: 1px solid #3e3e3e;
						}

						&__item {
							height: 99px;
							position: relative;
							flex: 1 1 auto;			
							text-align: center;
							list-style-type: none;
							border-right: 1px solid #3e3e3e;					
						}

						&__pic {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							margin: auto;
						}
					}
				}
			}
		}

		&__author {
			margin-top: 28px;
			.author {

				&__text {
					@extend %reset;
					font: 18px/27px $font;
					text-align: center;
					padding-bottom: 12px;
				}

				&__name {
					margin: 0 auto;
					padding: 12px 0 12px;
					max-width: 280px;
					font: 18px/24px $fontBold;
					text-align: center;			
					text-transform: uppercase;
					border: 1px solid #3e3e3e;	
				}
			}
		}
	}
}


