@import 'partials/mixins';

@include google-font-load('PT Sans Narrow');

$font: 'PT Sans Narrow';
$white: #fff;

@font-face {
	font-family: 'PTSansNarrowBold';
	src: url(../fonts/PTSansNarrowBold.woff);
}

@font-face {
	font-family: 'PTSansNarrow';
	src: url(../fonts/PTSansNarrow.woff);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #282828;
}


 
.container {
	width: 320px;
	margin: 0 auto;
}

.header {

	&__logo {
		padding: 30px 0px 25px 50px;

		.logo {
			width: 226px;
			height: 30px;
			background-image: url('../img/logo-mobile.png');
		}
	}

	&__nav {

		.nav {
			position: relative;
	
			 &__icon {
				width: 70px;
				height: 50px;
				position: absolute;
				top: 0;
				right: 0;
				background: url(../img/nav__icon-mobile.png)  no-repeat 35px 	20px  #6a4d38;	
				background-position: center;
			} 
	
			&__list {	
				margin: 0;
				padding: 0;
				text-align: center;
				list-style-type: none;	
			}	
	
			&__item {
				padding: 13px 0 13px;
				font:  18px/24px 'PTSansNarrowBold';
				background-color: #826550;
				color: #fff;
				text-transform: uppercase;
				
				&:nth-child(n+2) {
					display: none;
				}
			}	
		}
	}

	&__statistics {
		background-color: $white;
	
		.statistics {
			padding: 27px 0 0;
		
			&__title {
				margin: 0 0 15px 0;
				padding: 0 50px 0 48px;
				font: 900 30px/30px 'PTSansNarrowBold';	
				text-transform: uppercase;
				text-align: center;
			}
	
			&__text {
				margin: 0 20px;
				padding: 0 0 27px;
				font: 20px/27px 'PTSansNarrow';
				text-align: center;
			}
	
			&__information {
				
				.information {
					padding: 0 20px;
					display: flex;
					justify-content: space-between;
					background-color: #404040;
	
					&_mod {
						padding-top: 1px;
						padding-bottom: 2px;
					}
					
					&__span {
						padding-right: 3px;
						display: block;
					}
						
					&:nth-child(even) {
						background-color: #4e4e4e;
					}
	
					&__number {
						position: relative;
						padding: 13px 0px 13px 1px;
						font:  40px 'PTSansNarrow';
						color: #fff;
	
						&_iconed:after {
							content: url(../img/number_star.png);
							position: absolute;
							width: 7px;
							height: 7px;	
							top: -10px;
    						right: -18px;	
						}
					}
	
					&__text {
						margin-top: 20px;
						width: 115px;
						color: #f7f4f1;
						font: 18px/18px 'PT Sans Narrow';
						text-align: end;
					}
				}
			}
		}
	}
}

.section-slaider {

}

.slaider {
	position: relative;
	background-color: #242424;

	&:after {
		content: '';
		position: absolute;
		bottom: -35px;
		left: 0;
		display: block;
		border-top: 35px solid #242424;
		border-right: 160px solid transparent;
		border-left: 160px solid transparent;
	}	

	&__list {
		margin: 0;
		padding: 82px 0 0 0;
	}

	&__item {
		list-style-type: none;
		
		&:nth-child(n + 2) {
			display: none;			
		}

		.item {
			&__image {
				width: 95px;
				height: 95px;
				margin: 0 auto;
			}

			&__pic {
				width: 100%;
				height: 100%;
				display: block;	
			}

			&__title {
				padding-top: 25px;
				padding-bottom: 10px;
				font: bold 30px 'PT Sans Narrow';
				text-transform: uppercase;
				text-align: center;
				color: #fff;
			}

			&__text {
				color: #bfbdba;
				font: 20px/27px 'PT Sans Narrow';
				width: 90%;
				text-align: center;
				padding-left: 37px;			
			}
		}
	}

	&__control {
		margin-top: 23px;
		padding-bottom: 8px;
		
		.control {
			&__list {
				margin: 0;
				padding: 0;
				display: flex;	
				justify-content: center;
			}

			&__item {
				list-style-type: none;
				position: relative;
				
				&:nth-child(n + 2) {
					padding-left: 20px;
				}
										
				&:before {
					content: url(../img/control_transparentW.png);
				}

				&:first-child:after {
					content: url(../img/control_white.png);
					position: absolute;
					left: 0px;
				}
			}
		}
	}
}

.section-info__news {
		background-color: $white;
		border-bottom: 1px solid #e5ddd5;

	.news {
		margin: 0 20px;
		padding: 63px 0 27px 0;
		display: flex;
		flex-flow: column;	
		background-color: $white;
		

		&__title {
			margin: 0;
			padding: 0 0 9px 29px;
			font: 30px 'PTSansNarrowBold';
			text-transform: uppercase;
		}

		&__button {
			order: 10;

			.button {	
				margin: 3px auto 0;
				padding: 13px 0 13px;
				max-width: 280px;
				text-align: center;
				border: 1px solid #e5ddd5;
				
				&__link {
					display: block;
					font: 18px/24px 'PTSansNarrowBold';
					text-transform: uppercase;
					text-decoration: none;
					color: black;					
				}
			}
		}

		&__list {
			padding: 0;
			margin: 0;	
		}

		&__element {
			padding-top: 15px;
			list-style-type: none;
			
			&:first-child {
				border-bottom: 1px solid #e5ddd5;
			}

			&:last-child {
				display: none;
			}

			.element {
				display: flex;

				&:first-child {
					padding-bottom: 19px;
				}
					
				&__date {
					color: #fff;
					
					.date {	
						margin-top: 10px;
						width: 50px;
						height: 50px;
						text-align: center;					
							
						&:after {
							content: '';
							display: block;
							border: 25px solid transparent;
							border-top: 10px solid black;
						}

						&__day {
							font: bold 30px $font;
							background-color: black;
						}
						
						&__month {
							margin-top: -12px;
							padding-top: 3px;
							font: 16px $font;
							background-color: black;							
						}
					}
				}

				&__text {
					font: 18px/27px 'PTSansNarrow';
					padding-left: 19px;
					}

				&__span {
					position: relative;	
				}

				&__span:before {
					content: url(../img/span_quoteL.png);	
				}

				&__span:after {
					content: url(../img/span_quote.png);	
				}
			}
		}
	}
}

.feedback {
	position: relative;
	background-color: $white;

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -35px;
		left: 0;
		border-left: 160px solid transparent;
		border-right: 160px solid transparent;
		border-top: 35px solid $white;
	}

	&__title {
		margin: 0;
		padding: 25px 0 0;
		font: 30px/30px 'PTSansNarrowBold'; 
		text-transform: uppercase;
		text-align: center;	
	}

	&__person {
		padding-top: 30px;

		.person {
			display: flex;

			&__ava {
				margin-left: 20px;
				padding: 10px 0 50px;		
			}

			&__description {
				margin-left: 20px;
			}

			&__name {
				margin: 0;
				padding: 0;
				font: 24px/27px 'PTSansNarrowBold';				
			}

			&__comment {
				margin: 0;
				padding: 10px 35px 0 0;
				font: 18px/27px 'PTSansNarrow';
			}
		}
	}

	&__control {
		margin-top: 23px;
		padding-bottom: 13px;

		.control {
			&__list {
				margin: 0;
				padding: 0;
				display: flex;	
				justify-content: center;
			}

			&__item {
				list-style-type: none;
				position: relative;
				
				&:nth-child(n + 2) {
					padding-left: 20px;
				}

										
				&:before {
					content: url(../img/control_transparentB.png);
				}

				&:first-child:after {
					content: url(../img/control_black.png);
					position: absolute;
					left: 0px;
				}
			}
		}
	}
}

.footer__contact {
	padding: 35px 0 25px 0;
	background-color: #292929;

	.contact {
		color: $white;
		&__info {

			.info {

				&__title {
					margin: 0;
					padding: 33px 0 0 0;
					font: 18px 'PTSansNarrowBold';
					text-align: center;
				}

				&__address {
					margin: 0;
					padding: 12px 30px 0;
					font: 18px/27px 'PTSansNarrow';
					text-align: center;		
				}

				&__tel {
					margin: 18px auto 0;
					padding: 12px 0 12px;
					max-width: 280px;
					font: 18px/24px 'PTSansNarrowBold';
					text-align: center;		
					border: 1px solid #3e3e3e;
				}
			}	
		}

		&__social {

			.social {

				&__title {
					margin: 0;
					padding: 0;
				}

				&__icon {

					.icon {
						margin-top: 26px;

						&__list {
							margin: 0;
							padding: 0;
							display: flex;
							justify-content: space-around;
							align-items: center;
							border: 1px solid #3e3e3e;
						}

						&__item {
							height: 99px;
							position: relative;
							flex: 1 1 auto;			
							text-align: center;
							list-style-type: none;
							border-right: 1px solid #3e3e3e;					
						}

						&__pic {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							margin: auto;
						}
					}
				}
			}
		}

		&__author {
			margin-top: 28px;
			.author {

				&__text {
					margin: 0;
					padding: 0;
					font: 18px/27px 'PTSansNarrow';
					text-align: center;
					padding-bottom: 12px;
				}

				&__name {
					margin: 0 auto;
					padding: 12px 0 12px;
					max-width: 280px;
					font: 18px/24px 'PTSansNarrowBold';
					text-align: center;			
					text-transform: uppercase;
					border: 1px solid #3e3e3e;	
				}
			}
		}
	}
}


