@import 'partials/mixins';

@include google-font-load('PT Sans Narrow');

$font: 'PT Sans Narrow';
$white: #fff;

@font-face {
	font-family: 'PTSansNarrowBold';
	src: url(../fonts/PTSansNarrowBold.woff);
}

@font-face {
	font-family: 'PTSansNarrow';
	src: url(../fonts/PTSansNarrow.woff);
}

.margin {
	font-size: 30px;
	font-family: 'PTSansNarrowBold';
	line-height: auto;
	
	span {
	font-size: 30px;
	color: #fff;
	font-family: 'PTSansNarrowBold';
	display: inline-block;
	}

	span:nth-child(2n+1) {
		background-color: green;
	}
	
	span:nth-child(2n+2) {
		background-color: orange;
	}
}



body {
	margin: 0;
	padding: 0;
	background-color: #282828;
}
/* 
* {
	box-sizing: border-box;
}
 */
.container {
	width: 320px;
	margin: 0 auto;
}

.header__logo {
	padding: 30px 0px 25px 50px;

	.logo {
		background-image: url('../img/logo-mobile.png');
		width: 226px;
		height: 30px;
	}
}

.header__nav {

	.nav {
		position: relative;

		 &__icon {
			width: 70px;
			height: 50px;
			position: absolute;
			top: 0;
			right: 0;
			background: url(../img/nav__icon-mobile.png)  no-repeat 35px 20px  #6a4d38;	
			background-position: center;
		} 

		&__list {	
			margin: 0;
			padding: 0;
			text-align: center;
			list-style-type: none;	
		}	

		&__item {
			padding: 13px 0 13px;
			font:  18px/24px 'PTSansNarrowBold';
			background-color: #826550;
			color: #fff;
			text-transform: uppercase;
			
			&:nth-child(n+2){
				display: none;
			}
		}
	}
}

.header__statistics {
	background-color: $white;
	
	.statistics {
		padding: 28px 20px 26px;
	
		&__title {
			margin: 0 0 15px 0;
			font: 900 30px/30px 'PTSansNarrowBold';	
			text-transform: uppercase;
			padding-left: 48px;
			text-align: center;
			padding-right: 50px;
							
		}

		&__text {
			font: 20px/27px 'PTSansNarrow';
			margin: 0;
			padding: 0;
			text-align: center;
			
		}

		&__information {
			
			.information {
				display: flex;
				justify-content: space-between;
				background-color: #404040;
				padding: 0 20px;
					
				&:nth-child(2n + 2) {
					background-color: #4e4e4e;
				}

				&__number {
					padding-top: 13px;
					padding-bottom: 13px;
					padding-left: 3px;
					font:  40px 'PTSansNarrow';
					color: #fff;
					position: relative;

					&_iconed:after {

						content: url(../img/number_star.png);
						position: absolute;
						width: 7px;
						height: 7px;	
						top: -10px;
    					right: -18px;	
					}
				}

				&__text {
					margin-top: 20px;
					color: #f7f4f1;
					font: 18px/18px 'PT Sans Narrow';
					text-align: end;
				}
			}
		}
	}
}

.section-slaider {

}

.slaider {
	background-color: #242424;
	position: relative;
			
	&:after {
		content: '';
		position: absolute;
		bottom: -35px;
		left: 0;
		display: block;
		border-top: 35px solid #242424;
		border-right: 160px solid transparent;
		border-left: 160px solid transparent;
	}	


	&__list {
		margin: 0;
		padding: 0;
		padding-top: 82px;

	}

	&__item {
		list-style-type: none;
		
		&:nth-child(n + 2) {
			display: none;			
		}

		.item {
			&__image {
				width: 95px;
				height: 95px;
				margin: 0 auto;
			}

			&__pic {
				width: 100%;
				height: 100%;
				display: block;	
			}

			&__title {
				padding-top: 25px;
				padding-bottom: 10px;
				font: bold 30px 'PT Sans Narrow';
				text-transform: uppercase;
				text-align: center;
				color: #fff;
			}

			&__text {
				color: #bfbdba;
				font: 20px/27px 'PT Sans Narrow';
				width: 90%;
				text-align: center;
				padding-left: 37px;			
			}
		}
	}

	&__control {
		margin-top: 23px;
		padding-bottom: 10px;
		
		.control {
			&__list {
				margin: 0;
				padding: 0;
				display: flex;	
				justify-content: center;

			}

			&__item {
				list-style-type: none;
				position: relative;
				
				&:nth-child(n + 2) {
					padding-left: 20px;
				}

										
				&:before {
					content: url(../img/control_transparentW.png);
				}

				&:first-child:after {
					content: url(../img/control_white.png);
					position: absolute;
					left: 0px;
				}
			}
		}
	}
}

.section-info__news {
	
	.news {
		padding-top: 63px;
		display: flex;
		flex-flow: column;
		padding-bottom: 30px;
		border-bottom: 1px solid #e5ddd5;
		
		background-color: $white;

		&__title {
			margin: 0;
			padding: 0 0 2px 49px;
			font: bold 30px $font;
			text-transform: uppercase;
		}

		&__button {
			order: 10;

			.button {	
				border: 1px solid #e5ddd5;
				max-width: 280px;
				text-align: center;
				margin: 0 auto;
				padding: 12px 0 12px;
				
				&__link {
					text-decoration: none;
					font: bold 18px/24px $font;
					text-transform: uppercase;
					color: black;
					display: block;
					
				}
			}
		}

		&__list {
			padding: 0;
			margin: 0;		
		}

		&__element {
			list-style-type: none;
			padding-top: 24px;

			&:first-child {
				border-bottom: 1px solid #e5ddd5;
			}

			&:last-child {
				display: none;
			}

			.element {
				padding-left: 20px;
				padding-right: 20px;
				
				display: flex;

				&:first-child {
					padding-bottom: 15px;
				}
					
				&__date {
					color: #fff;
					
					.date {	
						min-width: 50px;
						min-height: 50px;
						text-align: center;
						margin-top: 10px;
							
						&:after {
							content: '';
							display: block;
							border: 25px solid transparent;
							border-top: 10px solid black;
						}

						&__day {
							font: bold 30px $font;
							background-color: black;
						}
						
						&__month {
							font: 16px $font;
							background-color: black;
							margin-top: -12px;
						}
					}
				}

				&__text {
					font: bold 18px/27px $font;
					padding-left: 20px;
				}

				&__span {
					position: relative;	
				}

				&__span:before {
					content: url(../img/span_quoteL.png);	
				}

				&__span:after {
					content: url(../img/span_quote.png);	
				}
			}
		}
	}
}

.margin {
	margin-bottom: 500px;
}

.feedback {
	background-color: $white;
	position: relative;
	

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -35px;
		left: 0;
		border-left: 160px solid transparent;
		border-right: 160px solid transparent;
		border-top: 35px solid $white;
	}

	&__title {
		margin: 0;
		padding: 0;
		text-align: center;
		font: bold 30px/30px $font; 
	
		padding-top: 26px;
		text-transform: uppercase;	
	}

	&__person {
		padding-top: 30px;

		.person {
			display: flex;

			&__ava {
				padding-top: 10px;
				padding-bottom: 50px;
			
				margin-left: 20px;
			}

			&__description {
				margin-left: 20px;
			}

			&__name {
				font: bold 24px/27px $font;
				margin: 0;
				padding: 0;
				
			}

			&__comment {
				margin: 0;
				padding: 0;
				font: bold 18px/27px $font;
				padding-top: 10px;
				padding-right: 35px;
			}
		}
	}

	&__control {
		margin-top: 23px;
		padding-bottom: 13px;

		.control {
			&__list {
				margin: 0;
				padding: 0;
				display: flex;	
				justify-content: center;
			}

			&__item {
				list-style-type: none;
				position: relative;
				
				&:nth-child(n + 2) {
					padding-left: 20px;
				}

										
				&:before {
					content: url(../img/control_transparentB.png);
				}

				&:first-child:after {
					content: url(../img/control_black.png);
					position: absolute;
					left: 0px;
				}
			}
		}
	}
}

.footer__contact {
	background-color: #292929;
	padding-top: 35px;
	padding-bottom: 25px;

	.contact {
		color: $white;
		&__info {

			.info {

				&__title {
					margin: 0;
					padding: 0;
					font: bold 18px $font;
					text-align: center;
					padding-top: 35px;
				}

				&__address {
					font: 18px $font;
					text-align: center;
					padding: 0;
					margin: 0;
					padding-top: 11px;
					padding-left: 30px;
					padding-right: 30px;
				}

				&__tel {
					border: 1px solid #3e3e3e;
					max-width: 280px;
					text-align: center;
					margin: 0 auto;
					padding: 12px 0 12px;
					font: bold 18px/24px $font;
					margin-top: 25px;
				}
			}	
		}

		&__social {

			.social {

				&__title {
					margin: 0;
					padding: 0;
				}

				&__icon {

					.icon {
						margin-top: 25px;

						&__list {
							display: flex;
							margin: 0;
							padding: 0;
							justify-content: space-around;
							align-items: center;
							border: 1px solid #3e3e3e;
						}

						&__item {
							list-style-type: none;
							text-align: center;
							flex: 1 1 auto;	
							height: 100px;	
							position: relative;
							border-right: 1px solid #3e3e3e;					
						}

						&__pic {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							margin: auto;
						}
					}
				}
			}
		}

		&__author {
			margin-top: 28px;
			.author {

				&__text {
					margin: 0;
					padding: 0;
					font: 18px/27px $font;
					text-align: center;
					padding-bottom: 13px;
				}

				&__name {
					border: 1px solid #3e3e3e;
					max-width: 280px;
					text-align: center;
					margin: 0 auto;
					padding: 12px 0 12px;
					font: bold 18px/24px $font;
					text-transform: uppercase;		
				}
			}
		}
	}
}


.test {
	color: #fff;
	border: medium solid white;

	&__img {
		padding: 10px;

	}

}

.testiruem {
	height: 400px;
	background: #345;
	position: relative;
	

	&__item {
		background: rgba(255, 255, 255, .3);
		height: 200px;
		width: 300px;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: thick dashed black;
		background-clip: padding-box;
	}
}